[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chalice = "*"
httpie = "*"
boto3 = "==1.16.20"
PyJWT = "==1.7.1"

[dev-packages]

[requires]
python_version = "3.8"
